.container {
  background-color: aqua;
display: flex;  
  flex-direction: row;
  flex-shrink: inherit;
  justify-content:space-around;
}
.one {
  border: 5px solid rgb(12, 12, 241);
  display:flex;
}
.second {
  border: 5px solid blue;
  border-end-end-radius: 50px;
  color: black;


}
