
span {
    font-weight: bold;
}
.skils{
    font-weight:lighter;
}
h1 {
    align-items: first baseline;
}
.h1 {
    align-items: start;
    align
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
   }
   body {
       display: flex;
       height: 100vh;
       justify-content: center;
       align-items: center;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }
   .container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding:  25px 30px;
    border-radius: 10px;
   }
   .button-19 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-19:hover,
  .button-19:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .button-19:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-19:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
  